<div class="footer-distributed">
  <div class="footer-left">
    <p class="footer-links">
      <a href="/">Home</a>
      路
      <a href="#">T&C's</a>
      路
      <a href="#">Faq</a>
      路
      <a href="/contact">Contact</a>
      路
      <a href="/about">About</a>
    </p>
    <p class="footer-company-name">GreekMan &copy; 2016</p>
  </div>
  <div class="footer-center">
    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="mailto:customerservice@parcelmed.co.uk">customerservice@greekman.co.uk</a></p>
    </div>
  </div>
  <div class="footer-right">
    <p class="footer-company-about">
      <span>About the company</span>
      Greek shop, are unique and kool items gathered by the greek man himself Stelios.
    </p>
    <div class="footer-icons">
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
    </div>
  </div>
</div>

